<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://durableorchestratordotnet8linux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3b9aa441-4ced-4007-82a9-b4d4af15d363/resourcegroups/RG-EUS-EA-POC-002/providers/Microsoft.Web/sites/DurableOrchestratorDotnet8Linux</ResourceId>
    <UserName>$DurableOrchestratorDotnet8Linux</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://durableorchestratordotnet8linux.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>